.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #242424;
  overflow: hidden;
}

.node circle {
  fill: #f3f3ff;
  stroke: #2593b8;
  stroke-width: 1.5px;
  r: 6;
}

.node text {
  font-size: 12px;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  background-color: #444;
  stroke-width: 0;
  font-weight: bold;
  fill: #f4f4f4;
  text-shadow: 0 1px 4px black;
}

path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}
